/* map wrap */
	.map-wrap iframe{
		width: 100%;
		pointer-events: none;
	}
	.map-wrap iframe.clicked{
		pointer-events: auto;
	}
	
	/* add this jquery for the clicked on iframe */
	<script>
		jQuery('.map-wrap').click(function() {
			jQuery(this).find('iframe').addClass('clicked')
		})
		.mouseleave(function() {
			jQuery(this).find('iframe').removeClass('clicked')
		});
	</script>